nav img {
    height: 50px;
    width: 180px;
    /*max-width: 100%;*/

    margin-top: 8px;
    margin-bottom: 8px;
}

nav #score {
    color:white;
    font-size:auto;
    


    margin-left: 10px;
    margin-right: 10px;

    width: 100px;

    text-align: center;
}



.card {
    width: 30%;
    min-width:350px !important;

    background-color: #B4F9FF !important;
}


