<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

</head>


<body>
	<nav class="navbar shadow fixed-top navbar-expand-xl navbar-dark" style="background-color:black;display:flex;justify-content:space-between;">

        <a href="{% url 'home' %}">
			<img src="{% static 'images/vga_logo_hor.png' %}" alt="">
		</a>
		  
		<div class="d-none d-xl-block" id="score"></div>

		<button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" ></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">

			<ul class="navbar-nav">
			<li class="nav-item active mr-3 my-2">
				<a   href="{% url 'home' %}"><button class="btn btn-primary">Home </button></a>
			</li>
			<li class="nav-item mr-3 my-2">
				<a  href="{% url 'cursos_index' %}"><button class="btn btn-primary">Cursos</button></a>
			</li>
			</ul>
			
		</div>


	</nav>





	<main>

		<div style="display:flex; justify-content:space-around;">
		<canvas class="d-none d-xl-block" id = "leftc" style="width:10%;"></canvas>
		<div style="min-width:80%;background:lightgrey;">
			<br><br><br><br>
			{% block content %}
            {% endblock %}
			</div>
		<canvas class="d-none d-xl-block" id = "rightc"></canvas>
			</div>
		<div style="display:none;">
  			<img id="target" src= "{% static 'images/target.png' %}">
		</div>
	</main>

<!--	Aqui el codigo del canvas con el jueguito, quiza se podria mover a un archivo a parte-->
<script src="{% static 'js/juegoPaginaWeb.js' %}"></script>
<!--  Aqui unas librerias de javascript para que la navbar funcione con las cosas chulas de bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="https://kit.fontawesome.com/ec136cee7f.js" crossorigin="anonymous"></script>
</body>
</html>

