{% extends 'base.html' %}

{% block content %}
    {% load static %}
<div style="position:center;display:flex; justify-content:space-around;flex-wrap: wrap;">
    <div class="shadow d-md-block d-none"  style="min-height:300px;width:60%;background:white;">
        <img style="min-height:300px;max-height:600px" width="100%" src="{% static '.'%}{{curso.cartel}}"><br>

        <br><h2 class="tituloCurso" >{{curso.info.nom}}</h2><br><br>
        <div class="descripcionCurso">{{ curso.info.descripcio }}</div>

    </div>

    <div class="shadow d-sm-block d-md-none"  style="min-height:300px;min-width:90%;background:white;">
        <img style="min-height:300px;max-height:600px" width="100%" src="{% static '.'%}{{curso.cartel}}"><br>

        <br><h2 class="tituloCurso" >{{curso.info.nom}}</h2>
        <div class="descripcionCurso">{{ curso.info.descripcio }}</div>
    </div>




    <div style="display: flex; flex-direction:column;justify-content:space-around;align-items:center; width:20%" >
        <div id="informacion" style="box-shadow: 0 0 3px #ccc;background:white;width:100%">
            <h3>Información</h3>

            <div class="d-flex">
                <div class="d-inline mr-1">
                    <i class="far fa-clock"></i>
                    <b>Horario: </b>
                </div>
                <div>
                    {{ curso.hora_inicio }} - {{ curso.hora_fin }}
                </div>
            </div>


            <div class="d-flex">
                <div class="d-inline">
                    <i class="fas fa-door-open"></i>
                    <b>Aula: </b>
                </div>
                <div>
                    {{ curso.aula }}
                </div>
            </div>



            <div class="d-flex">
                <div class="d-inline w-50">
                    <i class="far fa-calendar-alt"></i>
                    <b>Fechas:</b>
                </div>
                <div>
                    {{ curso.fecha_inicio }} hasta {{ curso.fecha_fin }}
                </div>
            </div>
        </div>


        <div style="box-shadow: 0 0 0 3px #ccc;margin-top:20px;background:white;width:100%">
            <h3 style="margin:10px">Contáctanos</h3>
            <p style="margin:10px">
                <i class="far fa-envelope"></i>
                <b>email:</b> formacio@vgafib.org
            </p>

        </div>
        <a href="{%url 'inscripcion' curso_id=curso.id %}">
            <button class="btn btn-info"  style="margin:5px">
                Inscribirse
            </button>
        </a>
    </div>

</div>

{% endblock %}