{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-column" >
    <div class="container-column centered p-3" style="min-width: 45%;box-shadow: 0 0 3px #ccc;background:white;">
        <form method="post" enctype="multipart/form-data" class="container-column">
            <h1>{{ curso.info.nom }}</h1>
            {% csrf_token %}


            <div class="d-flex">
                <div class="mx-2 w-50">
                    {{ student_form.nombre | as_crispy_field }}
                </div>

                <div class="mx-2 w-50">
                    {{ student_form.apellidos | as_crispy_field }}
                </div>

            </div>
            
            
            
            <div class="d-flex">
                <div class="mx-2 w-50">
                    {{ student_form.dni | as_crispy_field }}
                </div>

                <div class="mx-2 w-50">
                    {{ student_form.email | as_crispy_field }}
                </div>

            </div>



            <div class="d-flex">
                <div class="mx-2 w-50">
                    {{ student_form.is_fiber | as_crispy_field }}
                </div>

                <div class="mx-2 w-50">
                    {{ student_form.paymethod | as_crispy_field }}
                </div>
            </div>




            <div class="d-flex centered">
                {{ student_form.companero | as_crispy_field }}
            </div>

            <p class="d-flex centered">Los campos con * son obligatorios</p>
            <p class="d-flex centered w-50"><b>Al confirmar se te enviará un email a la dirección de correo electrónico que hayas indicado con las instrucciones para terminar la inscripción.</b></p>
            <p class="d-flex centered"> Si no lo recibes por favor contáctanos en formacio@vgafib.org</p>




            <div class="container-row centered">
                <button type="submit" class="btn btn-success">Confirm</button>
            </div>

        </form>
    </div>

</div>
{% endblock %}