<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>VGAFIB WEB placeholder</title>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/1804946?s=280&v=4">
</head>
<body>

<div style="position:center;display:flex;flex-flow:column;justify-content:center;align-items:center">
    <img src="https://avatars.githubusercontent.com/u/1804946?s=280&v=4" style="max-height:500px; max-width:500px" width="100%">
    <br>
    <h1>Estamos haciendo una página web nueva </h1>
    <h2>Mientras tanto podeis encontrarnos en:</h2>
    <a href="https://www.instagram.com/vgafib/">INSTAGRAM</a><br>
    <a href="https://twitter.com/vgafib">TWITTER</a>
</div>
</body>
</html>